body{
    margin: 0;
    padding: 10px;
    background-color: #424242;
    font-family: "Microsoft JhengHei";
}
.description{
    color: #cacaca;
    background-color: #252525;
    border: 1px solid #1f1f1f;
    display: inline-block;
    padding: 2px 10px;
    border-radius: 5px;
}
.box{
    display: inline-block;
    width: auto;
    height: auto;
    vertical-align: top;
}
.title{
    color: #e5e5e5;
    font-size: 20px;
    margin: 60px 0 0 0;
    font-weight: bold;
}
.container{
    display: flex;
    width: 300px;
    height: 100px;
    background-color: aqua;
    border-radius: 3px;
    overflow: hidden;
}
.item-1-1{
    background-color: #fff0dc;
}
.item-1-2 {
    background-color: #8e8478;
}
.item-1-3{
    background-color: #423f3b;
}

/*flex-direction*/
.container-row{
    flex-direction: row;
}
.container-row-reverse{
    flex-direction: row-reverse;
}
.container-column{
    flex-direction: column;
}
.container-column-reverse{
    flex-direction: column-reverse;
}
/*flex-wrap*/
.container-nowrap{
    flex-wrap: nowrap;
}
.container-wrap{
    flex-wrap: wrap;
}
.container-wrap-reverse{
    flex-wrap: wrap-reverse;
}
/*flex-flow*/
.container-row-nowrap{
    flex-flow: row nowrap;
}
.container-row-wrap{
    flex-flow: row wrap;
}
.container-column-nowrap{
    flex-flow: column nowrap;
}
/*justify-content*/
.container-flex-start{
    justify-content: flex-start;
}
.container-flex-end{
    justify-content: flex-end;
}
.container-center{
    justify-content: center;
}
.container-space-between{
    justify-content: space-between;
}
.container-space-around{
    justify-content: space-around;
}
/*align-items*/
.container-a-flex-start{
    align-items: flex-start;
}
.container-a-flex-end{
    align-items: flex-end;
}
.container-a-center{
    align-items: center;
}
.container-a-stretch{
    align-items: stretch;
}
.container-a-flex-baseline{
    align-items: baseline;
}
/*align-content*/
.container-ac-flex-start{
    flex-wrap: wrap;
    align-content: flex-start;
}
.container-ac-flex-end{
    flex-wrap: wrap;
    align-content: flex-end;
}
.container-ac-flex-center{
    flex-wrap: wrap;
    align-content: center;
}
.container-ac-space-between{
    flex-wrap: wrap;
    align-content: space-between;
}
.container-ac-space-around{
    flex-wrap: wrap;
    align-content: space-around;
}
.container-ac-flex-stretch{
    flex-wrap: wrap;
    align-content: stretch;
}

/*order*/
.item-order-1{
    order: 0;
    height: 30%;
    width: 30%;
}
.item-order-2{
    order: 1;
    height: 30%;
    width: 30%;
}
.item-order-3{
    order: 2;
    height: 30%;
    width: 30%;
}